[2011-04-13 15:11] coryschires opened #7 "Add support for returning snippets with search results"
I'd like to fetch results which include both a reference to my model instance as well as a snippet showing where the search term appeared in the indexed doc.

Looking thru the index tank docs, there's built in support for snippets functionality (also saw some reference to it in the tanker code). After poking around, however, I can't seem to solve a few problems:

1) Tanker returns only model insta

[2011-04-13 17:30] kidpollo commented on #7
Hey Cory!

When I started the gem snippets where still kinda beta so I couldn't get to it but now that we have direct contact with the Index Tank peeps we have first look into what is going!

I will work on this and other features I want to add for the end of this month. I will try to release every month a new version in the meantime I will let you know if I have it before.

Fell free to suggest y

[2011-04-13 18:20] coryschires commented on #7
Awesome. I'll let you know if I come up with anything.

Thanks!
Cory.

On Wed, Apr 13, 2011 at 10:30 AM, kidpollo <
reply@reply.github.com>wrote:

[2011-04-17 17:59] coryschires opened #10 "Negative conditions don't work as expected (or at all?)"
From my console:

[code]

Returns:

[code]

So I'm expecting this:

[code]

To return nothing, but instead I get:

[code]

Two thoughts:
1. Am I missing something simple?
2. In this case, does id refer to the index tank document id rather than the id of the resource I'm searching on (i.e. the profile's id)?

If tanker is filtering on the index_tank doc id, I suspect that's not the behavior that mo

[2011-04-18 05:52] kidpollo commented on #10
I think the problem is you are not indexing the id attribute.

My original reasoning that the user must decide to index or not the attributes he/she wants because for some people it might not make sense to fiter by id and for some not and I wanted to keep it minimal and extensive.

I am working on features where this might change in the future but you should not worry for now just make sure to ind

[2011-04-18 05:52] #10 closed, assigned to nobody

[2011-04-18 06:36] kidpollo commented on #10
btw this can be achieved many ways, I am working on integration specs for better understanding of how thos works but here is a peek

...

[code]

 ...

[code]

[2011-04-19 10:39] usctrojan opened #11 "Any way to search multiple models with conditions?"
I'm trying to search multiple models with conditions like so:

<code>@results = Tanker.search([Topic, Post], 'blah', :conditions => "topics.public is true")</code>

The results I got didn't filter the results based on conditions (i.e. the results still searched for all topics instead of just public topics). I also tried using named scopes too:

 <code>@results = Tanker.search([Topic.public, Post],

[2011-04-19 17:49] kidpollo commented on #11
Conditions in tanker dont work as SQL association filterings, its more based on the way Index Tank Supports filtering, assuming you are indexing the public attribute public you could do something SIMILAR TO :condtiotions => {'NOT public' => '1'}

I dont know what do you mean by named scopes in de contxt of indexing your models. Indextank is a full text search service not a relational database syst

[2011-04-19 17:49] #11 closed, assigned to nobody

[2011-04-19 18:48] usctrojan commented on #11
Oh okay, awesome. Thanks for the clarification, kidpollo. I appreciate the info!

[2011-05-12 10:39] geoffw8 opened #15 "Paging"
Hi all,

My results are limited to 10! I can't find for the life of me where to change it. Appreciate its simple, any help would be appreciated :)

Geoff

[2011-05-12 10:50] geoffw8 commented on #15
I fixed it, didn't realize you had to reindex. My new problem is - I can't get will_paginate to appear.

From controller: @products = Product.search_tank(params[:search]).paginate :page => params[:page], :order => 'created_at DESC'

Model:
  cattr_reader :per_page
  @@per_page = 10

View:
<%= will_paginate @products %>
<%= render @products %>

Anything jump out at anyone?

Cheers!

[2011-05-12 10:50] geoffw8 commented on #15
Woops, didn't mean to close!

[2011-05-19 19:22] bhellman1 commented on #7
Hoping to check-in on snippets. Are snippet available? I'm trying with:

[code]

No error, but no snippet. Thanks

[2011-05-20 17:34] kidpollo commented on #7
I am close to finishing this! Things at my say job have been crazy busy so I have not had to much time to work on this. Also I gave a talk on Tanker in Rails conf so I was preparing for that. I am really exited for the things to come. It should not be much longer but what you can be sure is that it will be awesome and fast!

[2011-05-22 17:35] bhellman1 commented on #7
@kidpollo nice! looking forward to it.Is your tanker talk available online?

[2011-05-22 17:36] bhellman1 opened #16 "Custom Docid"
Any tanker forks that allow for creating a custom docid?

[2011-05-22 17:44] kidpollo commented on #16
A custom doc id on the index Tank side?

Could you explain your question a little bit more?

[2011-05-22 17:48] bhellman1 commented on #16
Currently the docid is being assigned by tanker as follows:
Line 311 @ https://github.com/kidpollo/tanker/blob/master/lib/tanker.rb
   # create a unique index based on the model name and unique id
    def it_doc_id
      self.class.name + ' ' + self.id.to_s
    end

I would like the docID to be comment.post.id so that every time there is a new comment the IndexTank record for that post gets update

[2011-05-22 17:56] kidpollo commented on #16
Hey @bhellman1

The reason tanker does doc ids that way is because we want to be able to use the same index for many of the models. The abstraction does the least it can do to correctly filter and intance new model objects. A contributor actually added the it_doc_id method because he wanted something similar though I never really understood why :P At the end the really did not need to change anyth

[2011-05-22 18:18] bhellman1 commented on #16
I have the following models:
Post
Comment

I would like the search results to show Posts with a snippet & not a long list of Comments with duplicate post_ids in the results. The implementation idea being that in the Comment model I would add:

  tankit 'rails_3_demo' do
    indexes :comment_title
    indexes :comment_collection
  end

  def comment_title
    return self.post.title
  end

  def com

[2011-05-22 18:46] kidpollo commented on #16
Does comment belong to post? If so why are you indexing all of the comments of the parent post all the time?
Why dont you just index on the Post model and the comments that go with it? You could have an instance method in Post called comment_collection not a comment_collection method in the comment model

Often times the simplest path is the best. Actually for the use case that you are telling me

[2011-05-22 19:35] bhellman1 commented on #16
Thanks Kidpollo. Yes, comment does belong to post.

If I had the index in the post model with comment_collection. When a new comment was added how would I reindex the post index to include that comment? Thanks

[2011-05-24 08:15] arvida opened #19 "Option to disable/enable pagination"
Basically I would like to do queries without pagination turned on, so I just get an array of all the documents from #search. I also think new users don't expect the results to be paginated by default?

I am about to go a head and implement this, just want to check with you guys first if you have any thoughts on how it should work and if its a feature for the master branch? I few things I was think

[2011-05-24 19:41] #15 closed, assigned to nobody

[2011-05-24 19:44] kidpollo commented on #19
I love the interchangeable pagination backend options I dont like pagination to be configurable. It should be there by default unless changed on a specific search call. Lets have it so that :per_page => 0 means do not paginate.

Ideas?

Send me your pull request I will gladly add it

[2011-05-24 19:45] kidpollo commented on #19
Tests required of course

[2011-05-24 19:46] kidpollo commented on #16
Did this resolve the issue?

I am going to go ahead and close this

[2011-05-24 19:46] #16 closed, assigned to nobody

[2011-05-24 21:03] arvida commented on #19
Ok, great! Will try to get some code done for this.

I am thinking that :per_page => 0 might be a bit undescriptive. An idea would be to do something like:
`Topic.search_tank('blah', :paginate => { :page => 1, :per_page => 25 })` when you want to set options for pagination and `Topic.search_tank('blah', :paginate => false)`  when you want to disable it.
Just adding the `:paginate => false` option

[2011-05-24 21:05] kidpollo commented on #19
cool!

Do it

##

Francisco Viramontes
Sent with Sparrow
On Tuesday, May 24, 2011 at 2:03 PM, arvida wrote:

[2011-05-24 21:25] bhellman1 commented on #16
yep, thanks for asking!

[2011-05-27 12:23] #19 closed, assigned to nobody

[2011-06-02 17:32] samuelhwong opened #22 "What happens when IndexTank is down?"
Hi, I'm a beginner at Rails and I was wondering how errors are handled in Tanker? For example, what happens when the IndexTank API is unreachable? Will my model fail to save? Ideally, my model data would be saved regardless and any failed attempts at indexing would be placed in a queue for retrying later.

Thanks!

[2011-06-03 17:02] arvida commented on #22
Hi,

It depends on how you implement your models =) I think a good way would be to put the `update_tank_indexes` call in a delayed job, for example:

[code]

This way the user doesn't have to wait for the call to IndexTanks's servers to finish and delayed_job will try to redo the job if it fails. You can read more about delayed_job here on Github: https://github.com/collectiveidea/delayed_job

It

[2011-06-06 09:01] kidpollo commented on #22
Thanks @arvida I could not have answered it better. Index tank is pretty solid. I know those guys they really know their shit :D

[2011-06-06 09:01] #22 closed, assigned to nobody

[2011-06-06 09:03] kidpollo commented on #7
FINALLY Sippeting and fetching attributes is done, sorry for the holdup. It has been a crazy past weeks. I also had been working on integration and benchmark specs but I just released version 1.1 of tanker so go ahead and se the updated readme on how to start using this new feature :D

[2011-06-06 09:03] #7 closed, assigned to kidpollo

[2011-06-06 09:06] kidpollo opened #23 "Categories"

[2011-06-06 09:24] oleksify opened #24 "Can't use tanker 1.1.0"
<code>
/Users/devilcoders/.rvm/gems/ruby-1.9.2-p180/gems/tanker-1.1.0/lib/tanker/railtie.rb:13:in `block in <class:Railtie>': undefined local variable or method`setup_tanker_configuration' for Tanker::Railtie:Class (NameError)
    from /Users/devilcoders/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/lazy_load_hooks.rb:34:in `call'
    from /Users/devilcoders/.rvm/gems/ruby-

[2011-06-06 09:32] kidpollo commented on #24
Could you provide mor information on this?

Did you upgrade and it stoped working. Is this the first time you are using the gem and is it configured propperly?

[2011-06-06 09:34] oleksify commented on #24
Yes, First I tried to use it from github - same issue. I use version 1.0.0 - everything is ok. Now I see it is updated, I update it and it stop working.

Please, help me, as I need it for work, writing search plugin for spreecommerce

[2011-06-06 09:35] kidpollo commented on #24
Ok thanks I see the problem will fix it in a bit

[2011-06-06 09:35] oleksify commented on #24
Thanks!

[2011-06-06 09:56] kidpollo commented on #24
could you update your gemfile temprarily to use this
gem 'tanker', :git => 'git://github.com/kidpollo/tanker.git', :ref => '8dc674ae102cb2efbfe7'

lmk if it solves the issue, I am unable to reproduce it right now

[2011-06-06 09:59] oleksify commented on #24
nope, same issue:

<code>
/Users/devilcoders/.rvm/gems/ruby-1.9.2-p180/bundler/gems/tanker-8dc674ae102c/lib/tanker/railtie.rb:9:in `block in <class:Railtie>': undefined local variable or method`setup_tanker_configuration' for #Tanker::Railtie:0x000001017dd460 (NameError)
    from /Users/devilcoders/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/initializable.rb:25:in `instance_exec'
    f

[2011-06-06 10:04] kidpollo commented on #24
hmm try this reff then

f6d6ac3df9346fb4f2de

its anasty patch for now

[2011-06-06 10:13] oleksify commented on #24
Works!

[2011-06-06 11:08] #24 closed, assigned to nobody

[2011-06-06 14:09] coryschires commented on #7
You're a great man, sir! I plan to give it a try during the next few days. Thanks a lot!

[2011-06-06 15:12] samuelhwong commented on #22
That's exactly what I needed to hear. Thanks for the tip!

[2011-06-09 13:41] jridgway opened #25 "Autocomplete"
Indextank's autocomplete doesn't work properly when using Tanker. The problem seems to be due to Tanker putting multiple models into one index. Have you run into this, and if so, do you have a solution?

[2011-06-09 14:06] jridgway commented on #25
Nevermind. All I had to do was :indexes => :text. The ":text" part was needed rather than some other key.

[2011-06-09 14:06] #25 closed, assigned to nobody

[2011-06-09 17:57] kidpollo commented on #25
ok thanks!

[2011-06-10 03:17] ghost opened #26 "1.8.7 compatibility"
Hi there, I just started using Indextank on Heroku recently, and google points me to use this gem rather than thinkingtank (the one suggested by indextank).

Anyway, I added tanker into my Gemfile, ran bundle install, tried to follow through the example, and try to run the rake task.
That is where I ran into the rake task error.

I'm using rake gem version 0.8.7 and it gave me this error when tryi

[2011-06-10 05:13] kidpollo commented on #26
hmm seems like a legitimate bug I will look into it. Just out of curiosity which version of ruby are u using?

[2011-06-10 07:51] kidpollo commented on #26
the problem is that recent pull request I merged is not ruby 1.8.7 compatible I am going to add rvm environments to be able to test it in multiple rubies.

In the meantime you can try to use it in 1.9.2 or submit a patch :P

sorry for the inconvenience

I will try to fix this over the weekend

[2011-06-12 02:13] slothbear commented on #26
I made a couple of changes that allowed my project to work and (all but one) specs to pass. The changes are described in issue #27.

[2011-06-12 07:49] shiftb commented on #23
Great gem! I really need this feature. Let me know if there's anything I can do to help and I'll try my best to do it.

[2011-06-13 05:31] kidpollo commented on #23
The idea I have is that the collection returned by every search_tank call has a method that returns the categories. That is I think relatively easy. The problem is defining the api to set up the categories for a particular model

[2011-06-13 07:14] ghost commented on #26
All right. Updated my 'tanker' from the latest commit and it works well now. Thanks!

[2011-06-13 07:14] #26 closed, assigned to nobody

[2011-06-13 07:34] ghost opened #30 "Certain keywords break the search_tank method"
I encountered another difficulty while using the gem. I'm using Rails 3 and still using 1.8.7 Ruby (some gems are not compatible with the newer version)

Anyway, I have this code in my view
<code>
      <%= form_tag search_path, :id => 'search_bar', :method => 'get' do %>
        <%= text_field_tag :search, params[:search], :id =>"header-search-textbox", :placeholder => 'Search your moments here'

[2011-06-13 08:10] shiftb commented on #23
Looks like you could straight up copy what you've done for the fields data and the `indexes` method inside `tankit`.
Maybe provide a `categorizes` or `categories` method (I don't know if indexes is supposed to be a verb convention or just a plural noun) that accepts a name and then stores the value of that method or a block if provided.

[2011-06-15 11:10] joeljunstrom opened #32 "Uncaught exception when searching and index tank isn't available"
If index tank can not be reached (or do not have the index supplied or give any other error) a search will throw an uncaught exception.

The problem is that tanker always expects the response hash to contain 'results'.

[code]

The solution is of course simple

[code]

In production you do not want your app to get an error when your search is down but in development it would be nice to see the err

[2011-06-15 11:23] joeljunstrom commented on #30
What does tanker return when you get the error? ie. what's @moments.inspect at that point?
Need some more info to help you mate, a stack trace etc

[2011-06-15 22:40] kidpollo commented on #32
Yo actually pose a very valid concern tho I think this is a delicate matter because I dont want the gem to depend on Rails so selecting this mechanism can be tricky.

Any preference?

[2011-06-15 22:41] kidpollo commented on #30
yes @ronnypm it does sound very odd, can you please elaborate?

[2011-06-16 05:30] ghost commented on #30
It just occurred to me that there might be an uncaught exception. So here's the exception message:

<code>Couldn't find all Moments with IDs (27, 3, 2, 1, 26, 25, 23, 24) (found 5 results, but was looking for 8)</code>

This is what I've done: I searched the term 'facebook', and it's supposed to return 3 moments with that term for my particular user. With the exception handling, it returns me nil.

[2011-06-16 05:48] arvida commented on #30
Yep, it looks like you are having documents in your indextank index that doesn't exists in your local database. It would probably be a good idea to have your own seperate indexes when developing =) IndexTank offer a [free "Starter" plan](https://indextank.com/pricing/) that you could use for local development.

I guess this is a bit related to issue #32, would nice for these kinds of errors to not

[2011-06-16 06:26] #30 closed, assigned to nobody

[2011-06-16 06:55] arvida commented on #32
I think we could use RACK_ENV (should be enough for most ruby webframeworks?) to check if we're running in production or not.
If we're running in production we just:
- check if we got a Rails logging object
  - Yes: write error to rails log
  - No: create a [Logger object](http://www.ruby-doc.org/stdlib/libdoc/logger/rdoc/) and write error to logs/tanker.log
- check if Hoptoad is setup
  - Yes: se

[2011-06-16 14:41] jon-n opened #33 "Conditional Indexing"
With tanker, is there a way to make it so that a model is only indexed based on certain conditions?  In my case, I only want to index if the model joins to another model.  I've tried some different approaches, but so far nothing has been compatible with rake tanker:reindex.

[2011-06-16 17:58] kidpollo commented on #32
sounds interesting, I will get to this as soon as I can but pull requests are more than welcome :P

[2011-06-16 17:59] kidpollo commented on #33
yeah this is one of the main requests. something like a where statement, I will try to come up with a way. Any suggestions on how te api would look¿?

[2011-06-17 04:47] jon-n commented on #33
Yeah, something like a where statement, not sure exactly what's the best way.  I was hoping there would be a way to just put some conditions around the "indexes" parts inside the tankit statement

[2011-06-17 06:09] arvida commented on #32
cool =)
we'll try and get some code done for this over the next week

[2011-06-19 20:49] coryschires opened #34 "Lost ability to search across multiple fields after upgrade to 1.1.2"
Let's say I have a user:

[code]

When running version 1.0.0...

[code]

...would all return the model instance for Joe Smith. After upgrading to version 1.1.2, I can still find Joe with...

[code]

but...

[code]

...returns an empty array. Any idea what might be going on?

PS: New snippets are working great for me. Thanks a bunch! You should add a donate button to the repo.

[2011-06-23 17:02] kidpollo commented on #34
I actually did some changes on how the search query is produced in order to introduce the snippeting. I have been corresponding with the index tank ceo and working directly with their devs. I will look into this in the following days. Sorry its been kinda crazy lately. I have a pretty good idea on how to fix this.

I will also add more integration tests to cover this issue.

[2011-06-23 17:12] coryschires commented on #34
Awesome. I actually have another issue related to snippets. It seems that when returning a collection, the snippets for the last item in the collection appear to overwrite the previous item's snippets. I'll look more into this and probably write some integration tests to replicate the issue.

I also had a look at the integration tests and the coverage looks pretty slim around snippets. I'd like to

[2011-06-23 17:39] kidpollo commented on #34
Yes for sure!

First stop is making tanker more stable and have more tests that make it less brittle across big changes.

A quick roadmap for now would be (in that order):

Conditional indexing (per instance and per attribute)
Categories and faceting
Category filtering
Better dsl for Variables and functions
Clean dsl for GEO
JS powered realtime search helpers :D

Thats it for now but Index Tank is

[2011-06-23 20:55] e10jon opened #35 "Mongoid as ORM"
Indexing doesn't work with Mongoid as on ORM because Mongoid stores IDs as a BSON::ObjectId, not as a String or a Number (which yields the error "ArgumentError: "Value for field __id is not a String nor a number""). Any chance of adding a fix for this? I think I'll fork and give it a whirl.

[2011-06-23 21:05] kidpollo commented on #35
it should be very simple just make sure it does not cause regressions. I will gladly review your pull request as soon as you push it. I will try to get around to fix some bugs next week thanks again for reporting this.

[2011-06-25 19:01] coryschires commented on #34
I have confirmed that snippets are in fact being overwritten with a failing integration test.

Incidentally, I'm in the process of overhauling the integration tests in order to better catch some of these issues during future releases. Along the way, I've uncovered a few serious problems with how the tests were written which explains why these bugs slipped thru the cracks. I'll give more details in

[2011-06-26 18:30] coryschires commented on #33
I would also like the the ability to specify different indexes depending on <tt>Rails.env</tt>. Currently I have a yaml file which I've sourced in <tt>tanker.rb</tt> to conditionally set the index name depending on environment. It works fine, but it sorta sucks that I need both a yaml file and an initialization file.

Maybe <tt>tanker.rb</tt> could be smarter. With commented code snippets and corr

[2011-07-02 16:57] kidpollo commented on #35
Hi !

I have not had the time to look into this. I would like to add more integration tests with other ORMs.

Let me know if you have had any luck or if I can help

[2011-07-04 21:30] joeljunstrom commented on #35
Could you provide a stacktrace? We are using MongoMapper without any issues and MM's id method does not do any conversions from ObjectId.

@kidpollo Do you think forcing the id attribute to a string is a bad idea? Most (all?) ORM's should have some sort of conversion from strings when setting the id column.

[2011-07-04 21:35] joeljunstrom commented on #35
Ah, I see now that I read the Mongoid spec's a bit sloppy, they do not convert strings to objectid's when going through the id setter.. Hmm. Having to typecast values in tanker seems a bit much tbh..

[2011-07-05 12:31] jon-n commented on #33
@coryshires not sure if this makes it any better than your yaml setup, but here's how I have my configs set up so tanker uses the appropriate index depending on environment:

app/config/environments/development.rb:

[code]

app/config/environments/production.rb:

[code]

And then in the tankit part of in model, I just have:

[code]

[2011-07-06 08:11] kidpollo commented on #35
I dont think its a bad idea what I do wish is that I could have an Integration test suite that worked with mongo based ORMs that did not require to have mongo running. I got away with active record with a sql lite backend but I dont know if this can be achieved with mongo. Any suggestions?

[2011-07-06 08:16] kidpollo commented on #33
I am actually of the idea that YML files suck and that there is no reason to have credentials embebed in your ruby files loaded in the config directory. Rails already supports loading different config files depending in the environment or if you want a single file just have logic that uses the Rails.env call. I really want tanker to not be super tied to rails. I do have a railtie that can be exten

[2011-07-06 08:16] kidpollo commented on #32
Are you still having problems? if not can you close this issue?

[2011-07-06 08:17] kidpollo commented on #34
I am closing this issue because your last awesome contribution fixed this !

Thanks again!

[2011-07-06 08:17] #34 closed, assigned to nobody

[2011-07-06 08:27] arvida commented on #32
Haven't had any time to look in to this yet... Too much work ;(
I'll close it for now.

[2011-07-06 08:28] kidpollo commented on #32
yes no problem I have been busy also but I am trying to add the category feature out there really soon!

[2011-07-06 08:28] #32 closed, assigned to nobody

[2011-07-06 13:55] coryschires commented on #33
@kidpollo

I'm fine with no yaml files. I actually think athst's suggestion will address my concerns.

Once I merge it into my project (and ensure it works, tho I don't see why it wouldn't), I'll probably update the read me to let others know the best way to set conditional indexes.

[2011-07-16 15:01] oleksify commented on #23
Really need this feature, when this is planned to be implemented?

[2011-07-18 06:54] kidpollo commented on #23
I am almost finished with this feature! I hope to ship it during this week

[2011-07-18 06:55] kidpollo commented on #33
cool! I am finishing adding support for categories! I am exited for the new features of the gem

[2011-07-19 08:15] kidpollo commented on #23
Hey! @devilcoders @shiftb

I am very close to finishing the categories feature. Could you guys give me your opinions on my last commit and even test it out in your applications?

I am still not sure if the category_filters search option is the best approach for this.

Please find usage details in the readme and integration specs.

[2011-07-19 13:11] oleksify commented on #23
Still cannot figure out how to dynamically add a batch of categories to model. It seems that current implementation let you only  add categories one by one and naming them by yourself. I have a hash of categories from database, how can I add them?

[2011-07-26 11:21] zsxking opened #38 "Option to disable update/delete indexes in test environment"
Is there a way to disable the update/delete indexes in test environment?
In my case I have many models with:
  after_save :update_tank_indexes
  after_destroy :delete_tank_indexes
Then each time a test object created, the update_tank_indexes will be called. This make the tests run very slow, and also break the test when I don't have Internet connection. It will be nice to be able to disable tanker

[2011-08-16 05:28] samzurcher opened #43 "Using kaminari for pagination"
As described in the documentation, I define

MY_APPLICATION::Application.config.tanker_pagination_backend = :kaminari

in config/initializers/tanker.rb. Calling Tanker.configuration in the console results in

{:url=>"http://:XXXXXX@XXXX.api.indextank.com"}

As far as I can see, the tanker_pagination_backend wasn't applied. If I now try to use pagination in a view with the help of

<%= paginate @pr

[2011-08-16 05:47] kidpollo commented on #43
Hey @samzurcher I have personally never used kaminary as a pagination backend but I will ask the user that provided the pull requests for this to see if he can help out

[2011-08-16 07:32] arvida commented on #43
Hi,
I did the initial support for kaminari in tanker. Yep, looks like the kaminari setting isn't set =) Sorry for the trouble!
Did a test now with a new rails 3 app with tanker and kaminari and it looks to be working, the tanker tests passes too.
What version of rails, tanker and kaminari are you using? What does your tanker initializer look like?

[2011-08-16 16:05] jbritten commented on #43
Hey @samzurcher -- I was having this exact same issue recently using Rails 3.0.9 and Kaminari 0.12.4.  The fix for me was to update my Tanker gem.  My Gemfile had been locked at a previous version (like 1.0.0), but when I updated to Tanker 1.1.3 the pagination backend started to be set as expected.  Now calling Tanker.configuration in the console shows both the url and the pagination_backend set.

[2011-08-16 19:26] samzurcher commented on #43
Hi all,

Thanks a lot for your help! Indeed, the questions by arvida pointed me into the right direction and jbritten confirmed it - I was using tanker 1.0.0. After upgrading, it is working as advertised.

Best,
sam

[2011-08-16 19:26] #43 closed, assigned to nobody

[2011-08-17 00:00] kidpollo commented on #43
Thanks @arvida @jbritten virtual hugz to u guys!

[2011-08-17 00:04] kidpollo commented on #38
Couldnt you do something like

after_save :update_tank_indexes :if => 'Rails.env == "production"'

[2011-08-17 00:20] kidpollo commented on #35
I recently merged a commit to master that seems to fix this. Please let me know if this is still an issue

[2011-08-17 00:20] #35 closed, assigned to nobody

[2011-08-17 08:18] arvida commented on #43
:beer::beer::beer::beer::beer:

[2011-08-20 01:11] codebrew commented on #23
If you pass :paginate => false to your search then you currently can't access the facets (categories), the results are being loaded from the db and facets are completely lost.

[2011-08-20 05:01] iladriano commented on #23
@codebrew I suggested something like https://github.com/kidpollo/tanker/pull/40 to address that, still missing the tests :(

[2011-08-22 13:10] timbauman commented on #33
FYI - I am still interested in this feature.

I think the API could be pretty simple--i.e.:

[code]

Then, if published is true for a particular instance, it will get indexed. If it is false, it will not get indexed.

[2011-08-24 16:49] alexslade commented on #38
Yes, but it's a good point, I don't want to create index during my tests either.

[2011-08-24 20:09] e10jon opened #44 "Geospatial example not working"
The current Geospatial example code does not produced the desired result. Should the defined index functions be using d[0] q[0] notation or should it be doc.var[0] query.var[0]? And should the Tanker.search function be accepting :var0 :var1 parameters or should it be acception :variables => {0 => ..., 1 => ...}?

[2011-08-24 21:26] e10jon commented on #44
Nevermind. Forgot to run "rake tanker:functions"

[2011-08-24 21:26] #44 closed, assigned to nobody

[2011-08-24 23:11] alexslade opened #45 "Certain characters are illegal"
I've noticed things like *-. are special characters, should they be filtered out by tanker automatically?

[2011-08-25 06:27] kidpollo commented on #45
Probably! I dont know the character that should be filtered. If you could ask the tanker guys we could add them

[2011-08-25 06:28] kidpollo commented on #45
Could you help me out on this?

[2011-08-27 09:21] alexslade commented on #45
Yea sure, I'll find out what needs to be filtered and stick in a patch.

[2011-08-28 20:36] arvida commented on #38
[Webmock](https://github.com/bblimke/webmock) is a pretty nice way to stub out http requests when doing tests, with it enabled ruby won't do the actual remote request but instead get a predefined response.

We have been using something like this for a few projects using tanker:

[code]

[2011-08-31 04:57] kidpollo commented on #23
ahhh sorry @adranai I think I am not understanding the approach could you please explain further?

[2011-08-31 04:57] kidpollo commented on #33
Still working hard on this, sorry for the delay!

[2011-08-31 04:58] kidpollo commented on #38
Thanks @arvida I do think that disabling index tank on test environment go e beyod what the gem should do so I am closing this issue

[2011-08-31 04:58] #38 closed, assigned to nobody

[2011-08-31 04:59] kidpollo commented on #45
any news in this front?

[2011-08-31 05:06] iladriano commented on #23
Yes, the approach:
- splits "Tanker.search" into two parts "Tanker.search_results" and "Tanker.instantiate" (search turns to be instantiate(search_results(...)))
- exposes most of "Tanker.search" internal state (especially "results" from indextank) via SearchState (which is returned by Tanker.search_results)
- allows the user to obtain extra metadata with SearchState.results (example results["didy

[2011-08-31 05:10] kidpollo commented on #23
ahhh ok! well I'll try to add this onto the categories feature in the following days

[2011-09-01 11:55] pogermano opened #46 "Install on rails 2.3.8"
Hi,
I'd like to know how to install and how to use tanker on rails 2.3.8

Tks
Pedro

[2011-09-04 15:26] alexslade commented on #45
I spoke to the dev team, only \* is a special character, but a search of '-' still fails with this error:

"Invalid query: title:(-) OR items:(-) OR __any:(-) __type:("List")"

So I assume it's something to do with how Tanker conducts the search? Any ideas?

[2011-09-09 15:54] rnaud opened #47 "Sometimes indextank servers fail"
I get a lot of "getaddrinfo: Name or service not known" from my app, with the following log :

[code]

Is there a way to fix this ?

[2011-09-10 13:31] feriksen commented on #47
I get similar issues the second i get a little load on the search:

[code]

as this is evaluation only for now, the index is incredibly small (21 records..), but it seems it does not like to be hit to quickly in a row...

[2011-09-19 21:59] joemsak opened #48 "Disabling pagination returns max: 10 results"
Given the same search term:

When I use :paginate => false, I get 10 results

when I put the normal pagination options back in (:page => params[:page], :per_page => x) I get 145 results

[2011-09-19 22:01] joemsak commented on #45
I have the same problem and the live dev chat at IndexTank tells me none of those are illegal, but that the client isn't interpreting them correctly from the URL

[2011-09-19 22:04] kidpollo commented on #45
Sorry I have not been able to adress this issues. Its been a couple of very busy weeks! I will into this during the week. If you have an idea on how to fix this please go ahead! I will merge your pull request

[2011-09-19 22:05] kidpollo commented on #48
can you try using the 'edge' version. I thought I had a fix for this already.

[2011-09-19 22:05] kidpollo commented on #47
It would be cool to have better error recovery in case of a fail I agree

[2011-09-19 22:06] kidpollo commented on #46
Pretty much the same. Te Readme gives instructions on how to do this.

LMK if you still have trouble

[2011-09-20 08:20] feriksen commented on #47
In my case, the failure is definitely related to how the connection is being done. I've tried using the tanker gem (which functionally I prefer over the others), thinkingtank and the original indextank gems, and the only gem having this issue when a lot of searches are pushed through it is unfortunately tanker gem.

[2011-09-20 15:34] shyamster opened #49 "Search result issue with scoping and pagination"
When I try the following for search,

List.published.search_tank ("android", :page => 1, :per_page => 10)

I get 4 records back, but if I do:

List.published.search_tank ("android", :page => 2, :per_page => 10)

I get another four records.  I would have expected all 8 to be returned on page 1.

List.published.search_tank ("android", :page => 1, :per_page => 20) returns all the 8 records.

[2011-09-21 06:51] marcusg opened #50 "pagination total_results not counting correct"
Hello guys,
i don't know if i make something wrong. here is my problem:

Tour.all.count

The 8 is the real (correct) resultset (all tours with "deutsch*" in the content). But why is total_entries 87?
As far as i understand this, will_paginate uses the total_entries to calculate the paginate links ( < 1 2 3 > ).
So i get 9 paginate links for only 8 results (with 10 per page). I don't know, maybe it

[2011-09-22 07:42] kidpollo commented on #50
It seems there are other people also having problems with pagination. Thanks for the info it gives me a better ide on where the bug is I just hope I get the time soon to work on this. If you feel like taking a dive it would be greatly appreciated

[2011-09-22 08:09] kidpollo commented on #50
I just merged some changes from a pull request done by @adrnai which do some changes to the instatiation logic can you please test your code by using the code from master

gem 'tanker', :git => 'git://github.com/kidpollo/tanker.git'

[2011-09-22 08:09] kidpollo commented on #49
I just merged some changes from a pull request done by @adrnai which do some changes to the instatiation logic can you please test your code by using the code from master

gem 'tanker', :git => 'git://github.com/kidpollo/tanker.git'

[2011-09-22 08:10] kidpollo commented on #48
I just merged some changes from a pull request done by @adrnai which do some changes to the instatiation logic can you please test your code by using the code from master

gem 'tanker', :git => 'git://github.com/kidpollo/tanker.git'

[2011-09-22 08:12] kidpollo commented on #47
From the stack trace the error seems to be happening beyond the gems scope on net/http. There could be better handling for this errors. Can you give me information on which exeptions are you getting so I can handle those specifically?

Another recomendation is to upgrade to using ruby 1.9.2 its far more stable than 1.9.1

[2011-09-22 14:09] joemsak commented on #48
Trying now, thank you

On Thu, Sep 22, 2011 at 3:10 AM, kidpollo <
reply@reply.github.com>wrote:

[2011-09-22 14:24] joemsak commented on #48
Hmmm, I still get 10 results for the same search with :paginate => false,
that produces 144 results with :per_page => 5000, :page => params[:page]

On Thu, Sep 22, 2011 at 9:09 AM, Joe Sak joe@joesak.com wrote:

[2011-09-23 05:46] oleksify commented on #48
Have same issue. Any help?

[2011-09-23 06:11] oleksify opened #51 "How to sort results?"
Is there a way to sort results of search? I use indextank for e-commerce app for facet search & catalog list. I need to have the ability to sort by name in ASC & DESC orders,  and sort by (price \* product.currency.index). As results returned as paginated results I'm not able to sort them as array bevcause each page begins from the start. Paginate => false didn't work right now. Any ideas hot to a

[2011-09-23 06:41] kidpollo commented on #48
I know the problem, the thing is that Index Tank seems to enforce a default of 10

"len": how many results to return (default: 10)

I think I will remove supporting the 'false' option because assuming a number might be counter intuitive.

Opinions?

[2011-09-23 06:42] kidpollo commented on #48
http://indextank.com/documentation/api

Always check the index api for reference :P

[2011-09-23 06:50] kidpollo commented on #51
Search indexes work a little bit different form relational databases basically there are scoring functions for this.
Tanker does not provide a specific api for this because the way scoring functions and variables can vary a lot.
check out

http://indextank.com/documentation/function-definition

for more info.

About the pagination, as I addressed on the other thread it seems to be that IndexTank e

[2011-09-23 06:50] #51 closed, assigned to nobody

[2011-09-23 07:11] kidpollo commented on #50
Hi

I double checked this. I added a test to my integration suite to verify, all seems working.

It does feel very weird. My test is pretty basic may be there is something else going on. If you execute the raw query tanker generates what do you get back.

my test looks like this

describe 'An imaginary store' do
 before(:all) do
    Tanker::Utilities.clear_index('tanker_integration_tests')
100.tim

[2011-09-23 07:15] kidpollo commented on #49
It seems I am unable to reproduce this behavior. One good way to debug is looking fo this line

[code]

In tanker.rb and throwing a debugger in there.

please reffer to this issue

https://github.com/kidpollo/tanker/issues/50

[2011-09-23 07:15] #49 closed, assigned to nobody

[2011-09-23 08:14] kidpollo commented on #50
BTW I released a new version of the gem with minor changes to pagination. I dont expect this could fix the issue but you might want to upgrade anyway.

[2011-09-23 08:14] #46 closed, assigned to nobody

[2011-09-23 08:17] kidpollo commented on #45
Can you help me with debugging the issue. can you look for the line on tanker.rb that reads

[code]

and debug or output the generated query?

[2011-09-23 08:17] #47 closed, assigned to nobody

[2011-09-23 10:46] marcusg commented on #50
@kidpollo, thanks! i will try and say if i got it running...

[2011-09-23 11:20] marcusg commented on #50
@kidpollo, I cleared all indexes and created new ones but the problem still exists. I'll try to find a solution, i hope i'm able to do it because you gem is awesome, i don't want to miss it :)

[2011-09-23 11:41] marcusg commented on #50
i tried it again and it seems to work! (some minutes ago i had a problem with per_page option) but with a clean project it's working very nice! thank you @kidpollo and @adrnai :)

[2011-09-23 11:41] #50 closed, assigned to nobody

[2011-09-23 17:23] zetlan opened #52 "DEPRECATION WARNING: Yajl's JSON gem compatibility API is going to be removed in 2.0"
I get a deprecation warning when using Tanker 1.1.6 with Rails 3.0.7, ruby 1.9.2-p290.

[code]

[2011-09-23 18:48] kidpollo commented on #48
Upgraded the gem to not support the :paginate false

[2011-09-23 18:48] #48 closed, assigned to nobody

[2011-09-24 02:10] aokolish opened #53 "Can tanker drop records that can't be found?"
From time to time, things are getting into my index that do not exist in my database. When this happens, I get an ActiveRecord::RecordNotFound exception (I'm using rails). I have fixed this locally by monkey patching the instantiate_results_from_db method. I know I could use rescue to handle that exception, but it seems like a shame when tanker could return 1,000 id's and one of them might not be

[2011-09-27 09:36] rnaud commented on #47
Actually we are using ruby 1.9.2, the folder structure is just a bit weird.
Small idea on the top of my head, wouldn't it be possible to put all the updating of the indextank base into a delayed job ?
I do not care for my part if the indexing is not instant.

[2011-09-27 12:26] marcusg opened #54 "can't search for words with special chars"
hey guys,

i ran into a problem when i tried to search words with special characters like german umlauts (Ä, Ü and so on). I can't imagine that it is an intextank issue or is it? I hope you can help! thanks

[2011-09-28 08:41] marcusg commented on #54
i found out that i cant search for words with umlauts BUT not with wildcards. Look here:

w = Wishlist.find 8
w.description

any idea why? i wrote an email to the indextank guys, but maybe it's an issue of tanker.

[2011-09-28 11:34] marcusg commented on #49
Now, after getting the pagination to work i run into the same problem with pagination and scopes! Here is what i did:

[code]

so i think total_entries is not counting correct, any ideas?

[2011-09-28 14:36] marcusg commented on #54
Ok, i tried with the original indextank gem and it the same: I can't search for words with umlauts :( So I'll write to the indextank devs...

[2011-09-28 14:36] #54 closed, assigned to nobody

[2011-09-28 17:26] kidpollo commented on #49
Hey @marcusg

Using scopes on tanker is a strange feature I added from someone in the community because it leads to all sorts of confusion.

Named scopes in Rails are no more that filters. A search index does not filter the same way a RBMS filters so what you are getting is accurate. The total entries does match what index tanx matches but out of those 9 entries only 2 match your scope.

I would n

[2011-09-28 17:27] kidpollo commented on #47
of course that why tanker does not assume anything of your model, you can drop the update_index call anywhere!

[2011-09-28 17:43] coryschires commented on #19
As a workaround, set the pagination to 5000:

  Order.search_tank(params[:search], :per_page => 5000)

[2011-09-28 19:06] marcusg commented on #49
hey @kidpollo

okay, so there is no change or an update planned? Then I have to find a way to use like I want :) Thanks for your help man!

[2011-09-28 19:11] kidpollo commented on #49
I would love to see your input in this issue actually :D

The only update for me would be to put a warning in the readme to be careful of using scopes and Index Tank at the same time.

If you can find some kind of logic that would make scopes affect the search query in a way that makes sense go for it :P

I would personaly use some kind of fuzzy pagination :P

[2011-09-28 19:39] marcusg commented on #49
Of course, I'll send a pull request when i found a way to implement this in tanker ;)

[2011-09-28 20:15] shyamster commented on #49
Sorry I disappeared after posting this. I went on a backpacking trip and had no access to work stuff!  I will play with the latest and see if I can help later today.

[2011-10-05 15:16] jon-n commented on #53
I agree that it would be great if there  a way to handle this.

 I was running into a very similar problem where items were getting deleted out of my database, but they still existed as documents in the Indextank index.  So when using the search_tank method, it was throwing the RecordNotFound error.

In my case, it would be a lot better if search_tank returned all of the objects that do exist, eve

[2011-10-13 14:56] samuelhwong commented on #53
Shouldn't these scenarios be handled by

[code]

?

[2011-10-15 15:58] aokolish commented on #53
Yes, you would think so. This would essentially be a fail safe. The issue seems to come up most often in the test environment. When it happens, several of my tests fail and I have to manually find and remove things in the index.

[2011-10-25 23:28] kidpollo commented on #53
Just execute it for the environment you need it for

[2011-10-25 23:28] #53 closed, assigned to nobody

[2011-10-25 23:29] kidpollo commented on #52
thanks I will check it out

[2011-10-25 23:30] #23 closed, assigned to kidpollo

[2011-12-03 11:41] yragab opened #55 "Configuration"
Hi guys,

Thank you very much for this work. I have a question: IndexTank isn't signing up new users. How do I get an api url? Is there a proper way to get around this? I am deploying my app on Heroku and I keep getting this message when I try to activate indexTank " That add-on is only available to selected users". Is this related to IndexTank's acquisition? Any idea how will the situation be?

T

[2011-12-04 18:41] kidpollo commented on #55
I think there will be no more api keys aver again :(. Tanker might go on depending on the plans on Open Sourcing Index Tank.

[2011-12-04 18:41] #55 closed, assigned to nobody

[2012-02-20 15:57] alopes opened #56 "Facets"
Can someone explain me how to work with facets?
Thanks

[2012-02-20 16:13] #56 closed, assigned to nobody

[2012-03-16 08:04] trungpham opened #57 "cannot connect to index tank on other port besides 80"
def execute(req)
            res = Net::HTTP.new(@uri.host).start { |http| http.request(req) }
            if res.is_a? Net::HTTPSuccess
                if res.body.nil? or res.body.empty?
                    return res.code, nil
                else
                    begin
                        return res.code, JSON.parse(res.body)
                    rescue
                        raise "Inv

[2012-04-08 23:13] sjbamber opened #59 "AutoComplete"
I'm having trouble getting Indextank's AutoComplete feature to work when using Tanker.  When I run it I get no results back regardless of the query.  I know the same issue was reported here - https://github.com/kidpollo/tanker/issues/25 - but i'm confused with the resolution that was given. I'm not sure what is meant by :indexes => :text in this instance.  Can anyone shed a bit more light on what

[2012-04-12 19:22] slothbear commented on #38
Thanks for this technique. Since I want to play with searching in all environments but test, I inverted the condition. Also note that the statement requires a comma before the :if or :unless.
 `after_save :update_tank_indexes, :unless => 'Rails.env == "test"'`

[2012-04-19 18:39] herval commented on #33
Here's our pull proposal (mine and @vvgomes): https://github.com/kidpollo/tanker/pull/60

[2012-04-20 19:51] #57 closed, assigned to nobody

[2012-04-20 19:52] #59 closed, assigned to nobody

[2012-04-20 19:53] kidpollo commented on #33
Implemented :)

[2012-04-20 19:53] #33 closed, assigned to nobody

[2012-06-05 06:37] forest opened #62 "rake tanker:functions is not finding defined fnctions"
$ rake tanker:functions
reindexing all IndexTank functions
No IndexTank functions defined.
Define your server-side functions inside your model's tankit block like so:

[code]

I have the following defined in my model:

[code]

[2012-06-08 01:35] forest commented on #62
I found the issue. The functions and categories are not being copied over from the config to the tanker_config in the tankit method. I believe the issue is only exposed when you are extending your index definitions with some defaults as described here: https://github.com/kidpollo/tanker#extend-your-index-definitions

I will send a pull request when I verify and fix.

[2012-06-20 19:16] #62 closed, assigned to nobody

[2012-07-11 15:38] hale opened #64 "Feature request: access to `query_relevance_score`"
I'd like to be able to only show results with a relevance above a certain threshhold.

Since we're doing some query expansion, the results set contains a lot of fuzz - documents which are only vaguely relevant.  From reading the API docs it seems that the HTTP response body does include the relevance score of each result, which sounds perfect for this situation.  However, as far as I can tell from

[2012-07-21 01:55] hale commented on #64
Another solution for people who might also be in a similar situation:

Consider using both the IndexTank client gem and Tanker. I find the indexing features of Tanker most useful, so one option is to use Tanker for indexing and the IndexTank client gem for searching.

This is something that was suggested to me by Searchify.

[2012-12-06 09:07] rlupiichuk opened #65 "Tanker::Utilities.clear_all_indexes throws an exception"
I'm using HoundSleuth indexer. And it looks like it returns as an answer plain text instead of json:

Error Message: There was an error clearing or creating the charities index: Invalid JSON response: "Index deleted."

[2012-12-26 11:15] jizak opened #66 "Search through several models"
I didn't find in documentation if this gem supports search through all models. Does this gem supports such feature? and how can I implement this?

[2012-12-26 13:28] jizak commented on #66
@results = Tanker.search([Question, Ads::Posting], 'new')
sorry, found in documentation. Nevermind

[2013-04-02 18:01] b3ccio opened #67 "Model.tanker_reindex exception: Invalid document size. It shouldn't be bigger than 100KB. Got 103720 bytes"
Is there a way to increase the accepted document size?

[2013-04-08 21:00] b3ccio commented on #67
The total combined size of all of your text fields must be under 100KB. When indexing, just verify that your documents are within this limit.

http://stackoverflow.com/questions/15770937/invalid-document-size-it-shouldnt-be-bigger-than-100kb

[2013-04-08 21:00] #67 closed, assigned to nobody

[2013-05-04 20:16] stevegrossi opened #68 "undefined method `conditions' (Rails 3.2.12, Tanker 1.1.6)"
I just installed the latest tanker gem and began following the instructions in the readme, but the conditions block doesn't seem to be recognized:

[code]

My model looks like this:

[code]

[2013-07-19 13:59] ntlk commented on #68
Did you get this resolved? I've also come across this

[2013-07-22 14:42] stevegrossi commented on #68
Unfortunately not. Including a `conditions` block within the `tankit` block as in the README still throws the error above when trying to boot Rails. My workaround has been to just add the condition to the callback:

[code]

[2013-07-24 08:38] ntlk commented on #68
@stevegrossi Oh, very good!

[2013-11-04 16:53] ghost opened #69 "search_tank alters the options hash"
The search_tank(query, options) method alters the options hash.  Might be good for it to dup them first (in search_results) so that the user can repeat the search without recreating the options (or having to dup them itself).

[2014-03-31 06:41] mightylucene opened #73 "IndexTank::HttpCodeException: Incorrect api call"
I am using indextank-1.1.6 and facing above exception

following is my model definition

  include Tanker
  tankit "regions" do
    indexes :name
    indexes :full_name
    indexes :slug
  end

trace is like below

IndexTank::HttpCodeException: Incorrect api call
/home/loken/.rvm/gems/ruby-2.1.0@corental/gems/tanker-1.1.6/lib/indextank_client.rb:64:in `execute'
/home/loken/.rvm/gems/ruby-2.1.0@cor

[2014-04-12 15:02] USvER opened #74 ""indexable?" does not work"
[code]

Still get all models indexed!

[2014-04-12 16:53] USvER commented on #74
I have tested this only on reindex from "rails c"

So to fix this i have created a scope, and made reindex only on that scope...

[2014-04-12 17:32] USvER opened #75 "Facets?"
How do i get categories and count of results in it?

[2014-04-12 17:39] USvER opened #76 "Model.tanker_reindex does not clear current index. Just updates?"
Shouldn't reindex clear the index?

[2014-04-12 18:15] USvER opened #77 "How do i define multiple values for category, and then search for it?"
I have defined category like this:

[code]

I'm returning array of tags from particular category  as "type" category.
But how do i search by tags?

[2014-04-12 18:47] USvER commented on #77
This does not work:

[code]

And as per documentation on categories, it will use logical OR for same category... Is there pssibility to use AND logic?

So i want to index by tags, and then search for multiple tags with logical AND...

[2016-02-25 10:12] biske commented on #73
+1
I have same problem with exact same gem version.

[2017-02-08 13:10] #73 closed, assigned to nobody